html{
    background: wheat;
}

body{
    background: lightgray;
    width: 1080px;
    margin: 0 auto;
    font-size: 1em;
    font-family: Arial, sans-serif;
    padding: 10px;
}

table{
    width: 100%;
    border: black 1px solid;
    border-collapse: collapse;
}
thead{
    border: black 1px solid;
}
thead tr{
    border: black 1px solid;
}thead th{
     border: black 1px solid;
 }
tr{
    width: 100%;
    border: black 1px solid;
}
tr td{
    border: black 1px solid;
}


@media print{
    .form{
        display: none!important;
    }
    html{
        background: white;
    }
    body{
        background: white;
        width: 95%;
        font-size: 15px;
    }
}

@media only screen and (max-width: 600px){
    body{
        width: 100%;
    }
}